amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
boto3==1.37.25
botocore==1.37.25
cachetools==5.5.2
celery==5.5.0
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cryptography==44.0.2
defusedxml==0.7.1
distlib==0.3.9
Django==5.1.8
django-allauth==65.6.0
django-cors-headers==4.7.0
django-environ==0.12.0
django-extensions==3.2.3
django-js-asset==3.1.2
django-mptt==0.16.0
django-redis==5.4.0
django-ses==4.4.0
django-smtp-ssl==1.0
django-storages==1.14.6
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
djoser==2.3.1
drf-yasg==1.21.10
filelock==3.18.0
graphviz==0.20.3
hiredis==3.1.0
idna==3.10
inflection==0.5.1
jmespath==1.0.1
kombu==5.5.2
oauth2_provider==0.0
oauthlib==3.2.2
packaging==24.2
pillow==11.1.0
platformdirs==4.3.7
pluggy==1.5.0
prompt_toolkit==3.0.50
psycopg2-binary==2.9.10
pycparser==2.22
pydot==3.0.4
PyJWT==2.9.0
pyparsing==3.2.3
pyproject-api==1.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python3-openid==3.2.0
pytz==2025.2
PyYAML==6.0.2
redis==5.2.1
requests==2.32.3
requests-oauthlib==2.0.0
s3transfer==0.11.4
six==1.17.0
social-auth-app-django==5.4.3
social-auth-core==4.5.6
sqlparse==0.5.3
stripe==12.0.0
tox==4.25.0
typing_extensions==4.13.0
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.3.0
vine==5.1.0
virtualenv==20.30.0
wcwidth==0.2.13
whitenoise==6.9.0
